@model UserDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class=" tiles white col-md-12 no-padding">
                <div class="tiles green cover-pic-wrapper">
                    <div class="overlayer bottom-right">
                        <div class="overlayer-wrapper">
                            <div class="padding-10 hidden-xs">
                                <button type="button" class="btn btn-primary btn-small"><i class="fa fa-check"></i>&nbsp;&nbsp;Following</button>
                                <button type="button" class="btn btn-primary btn-small">Add</button>
                            </div>
                        </div>
                    </div>
                    <img src="~/Admin/assets/img/cover_pic.png" alt="">
                </div>
                <div class="tiles white">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="user-profile-pic">
                                @if (Model.ProfilePhoto == null)
                                {
                                    <img src="~/Admin/img/загружено.jpg" alt="" width="69" height="69" />
                                }
                                else
                                {
                                    <img src="~/img/@Model.ProfilePhoto" alt="" width="69" height="69" />

                                }
                            </div>
                            <div class="user-mini-description">
                                <h3 class="text-success semi-bold">
                                    @Model.Username
                                </h3>
                                <h5>Followers</h5>
                                <h3 class="text-success semi-bold">
                                    457
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-7 user-description-box  col-sm-5">
                            <h4 class="semi-bold no-margin">@Model.FullName</h4>
                            <h6 class="no-margin"></h6>
                            <br>
                            <p><i class="fa fa-briefcase"></i>@Model.Email</p>
                            <p><i class="fa fa-globe"></i>@Model.Phone</p>
                        </div>

                    </div>
                    <div class="tiles-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 offset-2">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="">
                                        <a href="#tab1hellowWorld" role="tab" data-toggle="tab" aria-expanded="false">Claims</a>
                                    </li>
                                    <li class="active">
                                        <a href="#tab1FollowUs" role="tab" data-toggle="tab" aria-expanded="true">Roles</a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> Dropdown <b class="caret"></b> </a>
                                        <ul class="dropdown-menu">
                                            <li><a asp-area="" asp-controller="Account" asp-action="PasswordChange" asp-route-id="@Model.Id">Change password</a></li>
                                            <li class="divider"></li>
                                            @if (User.IsInRole(RoleConstants.SuperAdmin))
                                            {
                                                <li><a asp-controller="Account" asp-action="Disable">Disable user</a></li>
                                            }

                                        </ul>
                                    </li>
                                </ul>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                                    <a href="javascript:;" class="reload"></a>
                                    <a href="javascript:;" class="remove"></a>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane " id="tab1hellowWorld">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <h3>Remove claim</h3>
                                                <form method="post" asp-action="RemoveClaim">
                                                    <div class="controls" style="padding-bottom:20px">
                                                        <input type="hidden" name="claim" value="@Model.Id" />
                                                        <select name="claims" asp-items='@new SelectList(Model.UserClaims)'></select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-cons">Add</button>
                                                </form>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Remove claim</h3>
                                                <form method="post" asp-action="AddClaim">
                                                    <div class="controls" style="padding-bottom:20px">
                                                        <input type="hidden" name="claim" value="@Model.Id" />
                                                        <input  name="type" />
                                                        <input  name="claimValue" />

                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-cons">Add</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="tab1FollowUs">
                                        <div class="row column-seperation">
                                            <div class="col-md-6">

                                                <h3>Roles</h3>
                                                @foreach (var item in Model.UserRoles)
                                                {
                                                    <p class="text-black">@item</p>

                                                }
                                                <br>
                                            </div>
                                          
                                                <div class="col-md-6">

                                                    <h3>Add new role</h3>

                                                    <br>
                                                    <form method="post" asp-action="AddRoles">
                                                        <div class="controls" style="padding-bottom:20px">
                                                            <input type="hidden" name="id" value="@Model.Id" />
                                                            <select name="role" asp-items='@new SelectList(Model.Roles,"RoleId","RoleName")'></select>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-cons">Add</button>

                                                    </form>
                                                    <form method="post" asp-action="RemoveRoles">
                                                        <div class="controls" style="padding-bottom:20px">
                                                            <input type="hidden" name="id" value="@Model.Id" />
                                                            <select name="role" asp-items='@new SelectList(Model.UserRoles)'></select>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-cons">Remove</button>

                                                    </form>

                                                </div>
                                            

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab1Inspire">
                                        <div class="row">
                                            <div class="col-md-12">
                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
