@model HotelViewModel
@{
    ViewData["Title"] = "Index";
}


<!-- banner -->
<section class="hotel-banner-simple hotel-transition-bottom hotelrooms">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame">
                    <h1 class="hotel-mb-20 hotel-h1-inner">Hotel Seçin</h1>
                    <p class="hotel-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, labore. Beatae sunt impedit accusamus eum.</p>
                    <ul class="hotel-breadcrumbs">
                        <li><a href="index.html">Ana Səhifə</a></li>
                        <li><span>Hotellər</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- rooms -->
<section class="hotel-p-100-100">
    <div class="container">

        <div class="hotel-filter hotel-mb-60">
            <a href="#" data-filter="*" class="hotel-work-category hotel-current">Bütün Hotellər</a>
            @foreach (var item in Model.Categories)
            {
                <a href="#" data-filter=".@item.Name.ToLower()" class="hotel-work-category">@item.Name</a>
            }

           


        </div>

        <div class="hotel-masonry-grid hotel-3-col">

            <div class="hotel-grid-sizer"></div>

            @foreach (var item in Model.Hotels)
            {
                <div class="hotel-masonry-grid-item hotel-masonry-grid-item-33 @item.HotelCategory.Name.ToLower()">

                    <!-- room card -->
                    <div class="hotel-room-card">
                        <div class="hotel-cover-frame imgLoad">
                            <a asp-controller="Hotel" asp-action="Detail" asp-route-id="@item.Id"><img class="lozad" src="@Url.Content($"~/img/HOTEL/{@item.Images.FirstOrDefault().Path}")" alt="cover"></a>
                            @if (item.Rating > 80)
                            {
                                <div class="hotel-badge">Populyar</div>
                            }
                        </div>
                        <div class="hotel-description-frame">
                      
                            <a href="menu.html">
                                <h3 class="hotel-mb-20">@item.Name</h3>
                            </a>
                            <div class="hotel-text-light hotel-text-sm hotel-mb-20">

                                @item.Description



                            </div>
                            <div class="hotel-card-bottom imgLoad">

                                <a asp-controller="Hotel" asp-action="Detail" asp-route-id="@item.Id" class="hotel-btn"><img class="lozad" data-src="img/icons/bookmark.svg" alt="icon">Hotelə get</a>
                            </div>
                        </div>
                    </div>
                    <!-- room card end -->

                </div>

            }


        </div>

    </div>
</section>
<!-- rooms end -->


@section script{

    <script>
        $(
            function () {
                $('.star').on('click', function () {
                    var selectedCssClass = 'selected';
                    var $this = $(this);
                    $this.siblings('.' + selectedCssClass).removeClass(selectedCssClass);
                    $this
                        .addClass(selectedCssClass)
                        .parent().addClass('vote-cast');
                });
            }
        );
    </script>

}


