@model Hotel
@{
    ViewData["Title"] = "Index";
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>Photo - <span class="semi-bold">Gallery</span></h3>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="grid simple vertical green">
            <div class="grid-title no-border">
                <h4>Hotel</h4>
            </div>
            <div class="grid-body">
                <h1 class="light">@Model.Name</h1>
                <h4>@Model.Description</h4>
                <h2>Rating : @Model.Rating.ToString("n0")</h2>
                <h4>Phone :  <span class="semi-bold"> @Model.Phone</span> </h4>
                <p>
                    <a href="mailto:@Model.Email">@Model.Email</a>
                </p>
                <address class="margin-bottom-20 margin-top-10">

                    @Model.Location<br>

                </address>
                @if ((await AuthorizationService.AuthorizeAsync(User, "AreaAdmin")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, Model, "HotelPermissionPolicy")).Succeeded)
                {
                    <a class="btn btn-warning btn-cons-md" asp-controller="Hotel" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                    <a class="btn btn-success btn-cons-md" asp-controller="Rooms" asp-action="Create" asp-route-id="@Model.Id">Add room</a>
                    <a class="btn btn-info btn-cons-md" asp-controller="Rooms" asp-action="Index" asp-route-id="@Model.Id">List of rooms</a>
                    <a class="btn btn-dark btn-cons-md" asp-controller="Reservation" asp-action="Index" asp-route-id="@Model.Id">List of reservations</a>
                    <a class="btn btn-light btn-cons-md" asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Id">Comments</a>
                }
                else if ((await AuthorizationService.AuthorizeAsync(User, "AreaAdmin")).Succeeded)
                {
                    <a class="btn btn-danger btn-cons-md" id="deleteCat" data-id="@Model.Id" name="@Model.Name">Delete</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="content">
        <div class="superbox" style="display: flex">
            @foreach (var item in Model.Images)
            {
                <div class="superbox-list" style="width: 25%"> <img src="~/img/HOTEL/@item.Path" data-img="@Url.Content($"~/img/HOTEL/{@item.Path}")" alt="" class="superbox-img"> </div>
                <div class="superbox-float"></div>
            }

        </div>
    </div>
</div>
@section script {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(function () {
            // Call SuperBox - that's it!
            $('.superbox').SuperBox();
        });
        $(document).on("click", "#deleteCat", function (e) {
            let _id = $(this).attr("data-id");
            Swal.fire({
                title: `Are you sure to delete ${$(this).attr("name")}?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "Get",
                        url: "/Admin/Hotel/Delete/" + _id,
                        success: function (res) {
                            Swal.fire(
                                'Deleted!',
                                `${res.message}`,
                                'success'
                            )
                            location.reload();
                        }
                    })
                }
            })
        })





    </script>
}
