@model Hotel
@{
    ViewData["Title"] = "Index";
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>Photo - <span class="semi-bold">Gallery</span></h3>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="grid simple vertical green">
            <div class="grid-title no-border">
                <h4>Hotel</h4>
            </div>
            <div class="grid-body">
                <h1 class="light">@Model.Name</h1>
                <h4>@Model.Description</h4>
                <h2>Rating : @Model.Rating.ToString("n0")</h2>
                <h4>Phone :  <span class="semi-bold"> @Model.Phone</span> </h4>
                <p>
                    <a href="mailto:@Model.Email">@Model.Email</a>
                </p>
                <address class="margin-bottom-20 margin-top-10">

                    @Model.Location<br>

                </address>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="content">
        <div class="superbox" style="display: flex">
            @foreach (var item in Model.Images)
            {
                <div class="superbox-list" style="width: 25%"> <img src="~/img/HOTEL/@item.Path" data-img="@Url.Content($"~/img/HOTEL/{@item.Path}")" alt="" class="superbox-img"> </div>
                <div class="superbox-float"></div>
            }

        </div>
    </div>
</div>
@section script {
    <script>
        $(function () {
            // Call SuperBox - that's it!
            $('.superbox').SuperBox();
        });
    </script>
}
